@charset "ISO-8859-1";

.modal-header{
	border:none;
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.modal-footer{
	border:none;
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

h3{
	color:white;
}
.cart-nav-table td{
	color:white;
}